// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Copy text color
/// @type Color
$text-color-secondary: rgb(255, 255, 255) !default;

/// Copy textbackground color
/// @type Color
$background-color: rgb(34, 34, 34) !default;

/// Background color
/// @type Color
$background-color-secondary: #f1f1f1;

/// Background color
/// @type Color
$background-color-third: #f7f7f7;

/// Background color
/// @type Color
$background-banner-color: #282828;

/// Copy gutter
/// @type Gutter
$gutter: 1em !default;
$gutter-smale: $gutter / 2;
$gutter-large: $gutter * 2;
