// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  background-color: $background-color;
  &__nav {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    &__title {
      min-width: 60%;
    }
  }

  ul {
    list-style: none;

    li {
      margin-bottom: $gutter-large;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.hamburger {
  color: red !important;
}
