// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  background-image: url(assets/images/banner-top.jpg);

  background-size: cover;
  background-position: center;

  // padding-bottom: 15em;

  &__nav {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    &__title {
      min-width: 60%;
    }
  }

  ul {
    list-style: none;

    li {
      margin-bottom: $gutter-large;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__container {
    &__title {
      padding-left: 0.7em;
    }
    &__subtitle {
      padding-left: 0.5em;
    }
    &__content-box {
      padding-left: 0.3em;
      display: flex;
      align-items: center;
      &__span {
        // min-width: 5em;
        // min-height: 2em;
        padding-left: $gutter-large;
        margin-right: $gutter;
        margin-left: $gutter;
        border-top: 2px solid white;
      }
      &__text {
        font-size: 0.7em;
        font-weight: bolder;
      }
    }

    &__background-box {
      background-color: $background-color-third;
      margin-top: 15em;
      padding-top: 2em;
      border-top-left-radius: 3em;
      border-top-right-radius: 3em;
    }
  }
}

// Post-type-page HEADER

// class for JS - nav bar
.hidden-class {
  display: none;
}

// class for JS - nav bar background
.header-background-js {
  background-image: none !important;
  padding-bottom: 0em !important;
}
