// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  background-color: $background-color;
  &__nav {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    &__title {
      min-width: 60%;
    }
  }
}
