// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // FRONT PAGE

  .header__container {
    padding-bottom: $gutter-large * 4;
  }

  .header__container__background-box {
    display: none;
  }

  .main-front-page {
    &__section-top {
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;

      :first-child {
        padding-top: 2em !important;
      }
      :nth-child(2) {
        order: -1;
      }
      :last-child {
        margin-top: $gutter-large;
      }

      &__container {
        transform: translateY(-1.5em);
        width: 35%;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
      }
    }
  }
}
