// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // FRONT PAGE

  .header__container {
    padding-bottom: $gutter-large * 4;
  }

  .header__container__background-box {
    display: none;
  }

  .main-front-page {
    &__section-top {
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;

      :first-child {
        padding-top: 2em !important;
      }
      :nth-child(2) {
        order: -1;
      }
      :last-child {
        margin-top: $gutter-large;
      }

      &__container {
        transform: translateY(-1.5em);
        width: 35%;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
      }
    }

    &__section-02 {
      img {
        min-width: 100%;
        height: auto;
      }
      height: 50em;
      &__container {
        background-color: white;
        margin-left: $gutter;
        margin-right: $gutter;
        padding-top: $gutter-large;
        padding-bottom: $gutter-large;
        transform: translateY(-11em);
      }
    }

    &__section-03 {
      background-color: white;
      padding-top: $gutter-large;

      &__container-mid {
        display: flex;
        margin-left: -2em !important;
        margin-right: -2em !important;
        align-content: stretch;

        > :first-child {
          border-top-right-radius: initial !important;
          border-bottom-left-radius: 2em;
        }

        > :last-child {
          border-top-right-radius: 2em;
          border-bottom-right-radius: 2em;
        }

        div {
          flex-grow: 2;
        }
      }

      &__container-bot {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: $gutter-large * 4;

        &__article {
          max-width: 40%;
        }

        &__link {
          width: 100% !important;
        }
      }
    }

    &__section-04 {
      > :nth-child(4) {
        // background-color: green !important;
        > :first-child {
          // background-color: blue;
          transform: translateX(-5em);
        }
        > :last-child {
          // background-color: yellow !important;
          margin-right: initial !important;
          margin-left: 15em !important;
        }
      }
      &__article {
        height: 35em;
        &__container-img {
          transform: translateX(5em);
        }
        &__container {
          //background-color: red !important;
          margin-right: 15em;
          transform: translateY(-15em);
        }
      }
    }

    &__section-05 {
      &__container-image {
        display: flex;
        justify-content: center;
        flex-direction: row !important;
        flex-wrap: wrap !important;

        > :nth-child(2) {
          padding-right: initial;
        }
        > :nth-child(4) {
          padding-right: initial;
        }

        &__image {
          padding-right: $gutter;
          max-width: 35%;
        }
      }

      > :last-child {
        padding-left: $gutter-large * 3;
        padding-right: $gutter-large * 3;
        padding-bottom: $gutter-large * 2;
      }
    }

    &__section-banner {
      &__container {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
      }
    }

    &__section-06 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__title,
      &__subtitle {
        width: 100%;
      }
      &__subtitle {
        padding-bottom: $gutter;
      }

      &__article {
        width: 35%;
        margin-right: $gutter;
      }
    }
  }

  //   FOOTER

  .footer {
    &__section-01 {
      &__form {
        > div {
          width: 50%;
        }
        display: flex;
        justify-content: space-between;
        &__title {
          width: 35%;
        }

        &__box-button {
          text-align: right;
          margin-right: $gutter-smale;
        }
      }
    }
    &__section-02 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      > :first-child {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        h1 {
          width: 50%;
        }

        p {
          width: 50%;
          padding-left: $gutter * 1.6;
        }

        ul {
          width: 40%;
          text-align: center;

          display: flex;
          align-items: flex-end;
          margin-bottom: $gutter-large;
        }
      }

      > :last-child {
        h2 {
          text-align: center;
          margin-bottom: $gutter;
        }
      }
      &__container {
        width: 40%;
        padding-right: $gutter;
        padding-left: $gutter;
      }
    }

    &__section-03 {
      text-align: center;

      br {
        display: none;
      }
    }
  }
}

// Desktop-view
@media (min-width: 1000px) {
  // HEADER

  .header {
    padding-bottom: $gutter-large * 2;

    &__container {
      h2,
      h3 {
        padding-left: initial;
        padding-left: $gutter;
        font-size: 3.5em;
      }
    }
    .mobile-view {
      display: none;
    }
    .desktop-view {
      margin-top: $gutter;

      display: flex !important;
      justify-content: space-around;
      padding-left: $gutter-large;
      padding-right: $gutter-large;
      font-size: 1.5em;
      h1 {
        width: 30%;
        min-width: 20%;
        font-size: 2em;
      }
      a {
        margin-right: $gutter-large;
      }
    }
  }

  // FOOTER

  body {
    background-color: $background-color-secondary;
    .desktop-view {
      display: block !important;
    }
  }

  .footer {
    margin-top: 10em;
    background-color: $background-color;

    &__image {
      width: 100%;

      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(40, 40, 40, 1) 62%
      );
    }

    :first-of-type {
      img {
        width: 100%;
      }
    }

    &__section-01 {
      background-color: #282828;
      margin-left: 10em;
      margin-right: 10em;
      transform: translateY(-10em);
      box-shadow: 10px 5px 5px rgb(0, 0, 0);

      form {
        padding: $gutter;
      }
    }

    &__section-02 {
      justify-content: space-around;
      > :first-child {
        width: 25%;
        flex-direction: column;

        h1 {
          width: 100%;
        }

        p {
          width: 100%;
          padding: initial;
        }

        ul {
          width: 100%;

          li {
            font-size: 1em;

            img {
              width: 30%;
            }
          }
        }
      }
      &__container {
        width: 15%;
      }
    }
  }

  // Front page

  .main-front-page {
    &__section-top {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;

      > :nth-child(1) {
        padding-top: 2.8em !important;
      }

      > :last-child {
        margin-top: initial;
        padding-top: 2em !important;
      }

      &__container {
        max-height: 20em;
        width: 25%;
        transform: translateY(-5em);
      }
    }

    &__section {
      padding-left: $gutter-large !important;
      padding-right: $gutter-large !important;
    }

    &__section-02 {
      display: flex;
      margin-top: initial !important;
      margin-bottom: -15em;
      img {
        min-width: initial;
        width: auto;
        height: 60%;
        object-fit: cover;
      }

      &__container {
        width: 50%;
        height: 40%;
        transform: translateY(3em) translateX(-6em);
      }
    }

    &__section-03 {
      &__container-mid {
        margin-left: $gutter-large * 4 !important;
        margin-right: $gutter-large * 4 !important;
      }

      &__container-bot {
        padding-bottom: $gutter;
        &__article {
          width: 25%;
        }
      }
    }

    &__section-04 {
      padding-left: initial !important;
      padding-right: initial !important;

      > :nth-child(4) {
        .main-front-page__section-04__article__container-img {
          // img {
          //   object-fit: cover !important;
          // }
          grid-column-start: 4;
          grid-column-end: 14;
          grid-row-start: 2;
          grid-row-end: 18;
        }
        .main-front-page__section-04__article__container {
          // grid-column: initial;
          // grid-row: initial;
          grid-column-start: 5;
          grid-column-end: 20;
          grid-row-start: 4;
          grid-row-end: 16;
        }
      }
      &__article {
        display: grid;
        grid-template-columns: repeat(20, 5%);
        grid-template-rows: repeat(20, 5%);

        &__container-img {
          grid-column-start: 8;
          grid-column-end: 18;
          grid-row-start: 2;
          grid-row-end: 18;
        }

        &__container {
          z-index: 2;
          margin-right: initial;
          transform: initial;
          grid-column-start: 2;
          grid-column-end: 12;
          grid-row-start: 4;
          grid-row-end: 16;
          button {
            margin-left: 15em;
            margin-top: 3em;
          }
        }
      }
    }

    &__section-05 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: $gutter-large * 2;
      padding-bottom: $gutter-large * 2;
      .container-desktop-view {
        //background-color: green;
        width: 35%;
        padding: initial;
      }
      &__container-image {
        width: 25%;
      }
      .mobile-view {
        display: none;
      }
      .desktop-view {
        display: block !important;
      }
    }

    &__section-banner {
      padding: initial !important;

      &__image-top,
      &__image-bottom {
        width: 100% !important;
      }
    }

    &__section-06 {
      display: flex;
      padding-bottom: $gutter-large;

      &__article {
        width: 20%;
      }
    }
  }

  // Post-type

  .main-post-type {
    h1 {
      font-size: 3em !important;
    }
    h2 {
      font-size: 2em;
    }

    &__image {
      width: 100%;
    }
    background-color: white;
    &__section-01 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;

      &__subtitle {
        margin-bottom: $gutter-large !important;
      }

      > :last-child {
        display: flex;
        flex-direction: row-reverse;
      }
      &__container {
        display: flex;

        justify-content: center;
        $width-ratio: 50%;
        width: $width-ratio;

        transform: translateX(100% - $width-ratio);

        border: 1px solid black;

        img {
          object-fit: cover;
          width: 50%;
        }

        &__content-box {
          width: 50%;

          h3 {
            font-size: 3em;
            margin-bottom: initial;
            margin-bottom: $gutter-smale;
          }

          h4 {
            font-size: 3em;
            margin-top: initial;
          }

          p {
            padding-left: $gutter-large * 3;
            padding-right: $gutter-large * 3;
            padding-bottom: $gutter-large * 5;
          }
        }
      }
    }

    &__section-02 {
      &__title {
        margin-top: $gutter-large * 2 !important;
      }
      &__subtitle {
        margin-bottom: $gutter-large !important;
      }
      iframe {
        width: 100%;
        margin-bottom: $gutter-large * 4;
      }
    }

    &__section-03 {
      &__subtitle {
        margin-bottom: $gutter-large * 2 !important;
      }
      &__container {
        // display: grid;
        grid-template-columns: repeat(20, 9.5em);
        grid-template-rows: repeat(20, 3em);
        margin-bottom: $gutter-large * 6;

        img {
          grid-column-start: 2;
          grid-column-end: 12;
          grid-row-start: 1;
          grid-row-end: 20;
        }

        form {
          z-index: 2;
          grid-column-start: 9;
          grid-column-end: 15;
          grid-row-start: 3;
          grid-row-end: 18;
          background-color: #eeeeee;

          padding-top: $gutter-large;

          display: flex;
          flex-wrap: wrap;

          div {
            background-color: #eeeeee;
            width: 35%;
            padding-left: 7em !important;
          }

          .form-group-text-message {
            width: 80%;
          }

          .form-group-button {
            margin-bottom: $gutter-large;
            button {
              height: 100%;
              font-size: 1.5em;
            }
          }
        }
      }
    }

    &__section-04 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin-bottom: $gutter-large * 6;

      > :first-child {
        //background-color: red;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2,
        p,
        a {
          flex-grow: 1;
        }

        p {
          padding-left: $gutter-large * 3;
          padding-right: $gutter-large * 3;
        }
      }

      > :last-child {
        //background-color: green;
        width: 30%;
        display: flex;

        img {
          width: 35%;
        }
      }
    }
  }
}
