// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // FRONT PAGE

  .header__container {
    padding-bottom: $gutter-large * 4;
  }

  .header__container__background-box {
    display: none;
  }

  .main-front-page {
    &__section-top {
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;

      :first-child {
        padding-top: 2em !important;
      }
      :nth-child(2) {
        order: -1;
      }
      :last-child {
        margin-top: $gutter-large;
      }

      &__container {
        transform: translateY(-1.5em);
        width: 35%;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
      }
    }

    &__section-02 {
      img {
        min-width: 100%;
        height: auto;
      }
      height: 50em;
      &__container {
        background-color: white;
        margin-left: $gutter;
        margin-right: $gutter;
        padding-top: $gutter-large;
        padding-bottom: $gutter-large;
        transform: translateY(-11em);
      }
    }

    &__section-03 {
      background-color: white;
      padding-top: $gutter-large;

      &__container-mid {
        display: flex;
        margin-left: -2em !important;
        margin-right: -2em !important;
        align-content: stretch;

        > :first-child {
          border-top-right-radius: initial !important;
          border-bottom-left-radius: 2em;
        }

        > :last-child {
          border-top-right-radius: 2em;
          border-bottom-right-radius: 2em;
        }

        div {
          flex-grow: 2;
        }
      }

      &__container-bot {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: $gutter-large * 4;

        &__article {
          max-width: 40%;
        }

        &__link {
          width: 100% !important;
        }
      }
    }

    &__section-04 {
      > :nth-child(4) {
        // background-color: green !important;
        > :first-child {
          // background-color: blue;
          transform: translateX(-5em);
        }
        > :last-child {
          // background-color: yellow !important;
          margin-right: initial !important;
          margin-left: 15em !important;
        }
      }
      &__article {
        height: 35em;
        &__container-img {
          transform: translateX(5em);
        }
        &__container {
          //background-color: red !important;
          margin-right: 15em;
          transform: translateY(-15em);
        }
      }
    }

    &__section-05 {
      &__container-image {
        display: flex;
        justify-content: center;
        flex-direction: row !important;
        flex-wrap: wrap !important;

        > :nth-child(2) {
          padding-right: initial;
        }
        > :nth-child(4) {
          padding-right: initial;
        }

        &__image {
          padding-right: $gutter;
          max-width: 35%;
        }
      }

      > :last-child {
        padding-left: $gutter-large * 3;
        padding-right: $gutter-large * 3;
        padding-bottom: $gutter-large * 2;
      }
    }

    &__section-banner {
      &__container {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
      }
    }

    &__section-06 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__title,
      &__subtitle {
        width: 100%;
      }
      &__subtitle {
        padding-bottom: $gutter;
      }

      &__article {
        width: 35%;
        margin-right: $gutter;
      }
    }
  }

  //   FOOTER

  .footer {
    &__section-01 {
      &__form {
        > div {
          width: 50%;
        }
        display: flex;
        justify-content: space-between;
        &__title {
          width: 35%;
        }

        &__box-button {
          text-align: right;
          margin-right: $gutter-smale;
        }
      }
    }
    &__section-02 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      > :first-child {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        h1 {
          width: 50%;
        }

        p {
          width: 50%;
          padding-left: $gutter * 1.6;
        }

        ul {
          width: 40%;
          text-align: center;

          display: flex;
          align-items: flex-end;
          margin-bottom: $gutter-large;
        }
      }

      > :last-child {
        h2 {
          text-align: center;
          margin-bottom: $gutter;
        }
      }
      &__container {
        width: 40%;
        padding-right: $gutter;
        padding-left: $gutter;
      }
    }

    &__section-03 {
      text-align: center;

      br {
        display: none;
      }
    }
  }
}

// Desktop-view
@media (min-width: 1200px) {
  // HEADER

  .header {
    padding-bottom: $gutter-large * 2;

    &__container {
      h2,
      h3 {
        padding-left: initial;
        padding-left: $gutter;
        font-size: 3.5em;
      }
    }
    .mobile-view {
      display: none;
    }
    .desktop-view {
      margin-top: $gutter;
      display: inline;
      display: flex;
      justify-content: space-around;
      padding-left: $gutter-large;
      padding-right: $gutter-large;
      h1 {
        width: 30%;
        min-width: 20%;
      }
      a {
        margin-right: $gutter-large;
      }
    }
  }

  // Front page

  .main-front-page {
    &__section-top {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;

      > :nth-child(1) {
        padding-top: 2.8em !important;
      }

      > :last-child {
        margin-top: initial;
        padding-top: 2em !important;
      }

      &__container {
        max-height: 20em;
        width: 25%;
        transform: translateY(-5em);
      }
    }
  }
}
