// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

header {
  .primary-button {
    color: $text-color;
    background-color: $text-color-secondary;
    padding: $gutter-smale;
  }
}
