// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

header {
  .primary-button {
    color: $text-color;
    background-color: $text-color-secondary;
    padding: $gutter-smale $gutter;
  }
  .primary-button:hover {
    color: $text-color-secondary;
    background-color: $background-color;
    text-decoration: none !important;
    border: 1px solid $text-color-secondary;
  }
}

main {
  .link-button-order {
    :hover {
    }
    .button-order {
      padding-left: $gutter-large * 1.5;
      padding-right: $gutter-large * 1.5;
      padding-top: $gutter / 1.5;
      padding-bottom: $gutter / 1.5;
      background-color: $background-color-secondary;
      font-size: 0.7em;
      font-weight: 700;
      text-transform: uppercase;
      border: 1px solid $background-color;
    }

    .button-view-all {
      background-color: $background-color;
      color: $background-color-secondary;
    }
  }

  .link-button-view-all {
    :hover {
      background-color: white !important;
      color: black;
      border-color: black !important;
    }
  }
}
