// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

.header {
  color: $text-color-secondary;

  h1 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
  }
  span {
    font-size: 0.8em;
  }
  a {
    color: $text-color-secondary;
    text-decoration: none;
  }

  h3 {
    text-transform: uppercase;
    font-size: 2em;
  }
}
.main-front-page {
  section {
    h1 {
      font-size: 1.5em;
      font-weight: 500;
      margin-top: initial;
      margin-bottom: initial;
    }

    h2 {
      text-transform: uppercase;
      font-size: 1.9em;
      margin-top: initial;
      margin-bottom: initial;
    }
  }
}
