// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

.header {
  color: $text-color-secondary;

  h1 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
  }
  h2 {
    font-size: 0.8em;
  }
  a {
    color: $text-color-secondary;
    text-decoration: none;
  }
}
