// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.main-front-page {
  background-color: $background-color-secondary;
  &__section-top {
    > :first-child {
      padding-top: initial;
    }
    background-color: $background-color-secondary;
    // transform: translate(0, 20em);

    &__container {
      background-color: $background-color-third;
      text-align: center;
      padding-top: $gutter-large;

      &__title {
        padding-left: $gutter;
        padding-right: $gutter;
        font-size: 1.2em;
        text-transform: uppercase;
      }

      &__text {
        padding-left: $gutter-large;
        padding-right: $gutter-large;
        font-size: 0.8em;
        padding-bottom: $gutter-large;
      }
    }
  }

  &__section-02 {
    margin-top: $gutter-large * 3;
    padding-bottom: $gutter-large;

    &__image {
      max-width: 100%;
      height: 100%;
    }
    &__container {
      padding-left: $gutter;
      padding-right: $gutter;
      &__title {
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: initial;
      }
      &__subtitle {
        margin-top: initial;
        margin-bottom: initial;
        text-transform: uppercase;
      }

      &__sub-subtitle {
        margin-top: initial;
        font-size: 0.5em;
        text-transform: uppercase;
      }

      &__text {
        font-size: 0.5em;
        line-height: 3em;
      }

      &__sub-subtitle-02 {
        margin-bottom: initial;
      }

      &__title-02 {
        margin-top: initial;
      }
    }
  }

  &__section-03 {
    padding-left: $gutter-large;
    padding-right: $gutter-large;

    &__container-top {
      text-align: center;
      margin-top: $gutter-large;
      margin-bottom: $gutter-large;

      &__subtitle {
        font-size: 1.5em !important;
      }
    }

    &__container-mid {
      text-align: center;
      margin-top: $gutter-large * 2;
      margin-bottom: $gutter-large * 2;
      margin-left: $gutter-large;
      margin-right: $gutter-large;

      box-shadow: 1px 15px 10px rgb(211, 211, 211);
      border-radius: 2em;

      > :first-child {
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        background-color: initial;
        background-color: black;
        color: $text-color-secondary;
      }

      &__content-box {
        padding-top: $gutter;
        padding-bottom: $gutter;
      }

      p {
        font-size: 0.8em;
      }

      //   JS CLASS :

      .js-action-class {
        background-color: wheat !important;
      }
    }

    &__container-bot {
      text-align: center;

      &__article {
        &__grid-layout {
          display: grid;
          grid-template-columns: repeat(14, 0.95em);
          grid-template-rows: repeat(10, 1em);

          img {
            grid-column-start: 4;
            grid-column-end: 10;
            grid-row-start: 3;
            grid-row-end: 7;
          }

          span {
            grid-column-start: 12;
            grid-column-end: 14;
            grid-row-start: 2;
            grid-row-end: 4;

            background-color: $background-color;
            color: $text-color-secondary;
            font-weight: 700;
            border-radius: 15em;
            font-size: 0.7em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &__link {
          :hover {
            text-decoration: underline;
          }
          text-decoration: none;
          color: $text-color;
          > :only-child {
            padding-left: $gutter-large;
            padding-right: $gutter-large;
          }
          > :last-child {
            padding: inherit;
          }
          &__title {
            font-weight: 400;
            font-size: 1em;
          }

          &__text {
            font-size: 0.7em;
          }
        }
      }

      .link-button-view-all {
        button {
          margin-top: $gutter-large * 2;
          margin-bottom: $gutter-large;
        }
      }
    }
  }

  &__section-04 {
    background-image: url(assets/images/burger-party.png);
    // background-size: cover;
    background-position: center;

    &__title {
      padding-top: $gutter-large;
    }
    &__title,
    &__subtitle {
      background-color: rgba(241, 241, 241, 0.9);

      text-align: center;
    }
    &__subtitle {
      padding-bottom: $gutter;
    }

    &__article {
      padding-bottom: 5em;
      background-color: rgba(241, 241, 241, 0.9);
      &__container-img {
        background-color: $background-color-secondary;
        &__image {
          max-width: 100%;
          height: 100%;
          // background-color: $background-color-secondary;
        }
      }

      &__container {
        background-color: $background-color-secondary;

        &__link {
          text-align: center;
          text-decoration: none;
          color: $text-color;
          &__title {
            margin-top: inherit;
            font-weight: 500;
          }

          &__subtitle {
            font-size: 1.5em;
          }
          &__button {
            //color: red !important;
            margin-left: $gutter-large * 3;
            margin-bottom: $gutter-large * 2;
            //margin-right: $gutter;
          }
        }

        &__text {
          text-align: center;
          padding-left: $gutter-large;
          padding-right: $gutter-large;
          font-size: 0.7em;
          line-height: 2em;
          font-weight: 500;
        }
      }
    }
  }
  &__section-05 {
    .desktop-view {
      display: none;
    }
    padding-top: $gutter-large;
    &__container {
      text-align: center;

      &__subtitle {
        padding-left: $gutter;
        padding-right: $gutter;
      }
    }

    &__container-image {
      padding-top: $gutter;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__image {
        width: 60%;
        //height: 50%;
        padding-bottom: $gutter;
      }
    }

    &__container {
      &__text {
        text-align: center;
        padding-left: $gutter-large;
        padding-right: $gutter-large;
        font-size: 0.7em;
        line-height: 2em;
        font-weight: 500;
        padding-bottom: $gutter-large;
      }

      &__link {
        :hover {
          border: 1px solid black;
        }
        &__button {
          padding-top: $gutter-smale;
          padding-bottom: $gutter-smale;
          padding-left: $gutter-smale;
          padding-right: $gutter-smale;
          border: none;
        }
      }
    }
  }

  &__section-banner {
    &__image {
    }

    &__container {
      background-color: $background-banner-color;
      text-align: center;
      margin-top: -0.5em;
      margin-bottom: -0.1em;

      &__content-box {
        p {
          color: $text-color-secondary;
          margin: initial;
        }
        &__number {
          font-size: 2em;
        }

        &__text {
          padding-bottom: $gutter-large;
        }
      }
    }

    &__image-bottom {
      transform: rotate(180deg);
    }
  }

  &__section-06 {
    text-align: center;
    padding-top: $gutter-large;
    background-color: background-color-third;

    &__article {
      background-color: $background-color-secondary;
      padding-bottom: $gutter-large;
      margin-bottom: $gutter-large;
      &__link {
        &__image {
          max-width: 100%;
          height: auto;
        }
      }

      &__content-box {
        display: flex;
        align-items: baseline;
        margin-left: $gutter;
        color: #5a5a5a;

        i {
          padding-right: $gutter-smale;
        }
        &__link {
          text-decoration: none;
          &__title {
            color: $text-color;
          }

          span {
            padding-right: $gutter;
          }

          &__button {
            color: $text-color;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.7em;
          }
        }
        &__text {
          text-align: justify;
          padding-left: $gutter;
          padding-right: $gutter;
          font-size: 0.7em;
          line-height: 2em;
        }
      }
    }
  }
}
