.main-menu-page {
  &__title {
    text-align: center;
    font-size: 1em;
  }

  &__subtitle {
    text-align: center;
    text-transform: uppercase;
  }

  &__section {
    text-align: center;
    h3 {
      justify-content: center;
      text-transform: uppercase;
      border-bottom: 1px solid black;
      margin-left: 5em;
      margin-right: 5em;
    }

    &__container {
      &__content-box {
        &__title {
          font-weight: 400;
        }
        &__span {
          margin-left: $gutter;
          margin-right: $gutter;
          display: block;
          width: 80%;
          border-bottom: 1px dotted black;
          border-width: medium;
        }

        &__price {
          font-weight: 700;
        }
      }
      &__text {
        color: gray;
        font-size: 0.8em;
      }

      .chef-selection {
        border: 1px solid yellow;
      }
    }
  }
}
