.main-post-type {
  background-color: $background-color-third;
  &__image {
    transform: rotate(180deg) translateY(0.6em);
  }

  &__section-01 {
    text-align: center;
    margin-top: -1em;

    &__title {
      background-color: white;
    }

    &__subtitle {
      background-color: white;
    }

    &__container {
      background-color: white;
      margin-bottom: $gutter-large * 2;
      img {
        max-width: 100%;
        height: auto;
      }
      &__content-box {
        padding-left: $gutter-large;
        padding-right: $gutter-large;
        &__text {
          text-align: left;
          line-height: 2em;
        }
      }
    }
  }

  &__section-02 {
    text-align: center;
    padding-bottom: $gutter-large;
  }

  &__section-03 {
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }

    form {
      div {
        text-align: left;
        padding: $gutter;
        font-size: 0.7em;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: $gutter-smale;
        }

        input {
          border: none;
          padding: $gutter;
        }

        select {
          border: none;
          padding: $gutter;
          background-color: $text-color-secondary;
        }
      }
      button {
        background-color: $text-color !important;
        color: $text-color-secondary;
      }
    }
  }
  padding-bottom: $gutter-large * 2;
}
